<div class="jumbotron">
  <div class="input-group">
    <textarea class="form-control custom-control" rows="5" style="resize:none" ng-model="input.text"></textarea>
    	<span class="input-group-addon btn btn-primary" ng-click="postData(input.text)">Tag It!</span>
  </div>
</div>

<div ng-show="showResult" id="tag-wrapper">
  <h4>This paragraph is about </h4> <h2><bold>{{ page.title}}</bold></h2>
  <div class="jumbotron">
      <h2>Summary</h2>
      <p>{{ page.summary }}</p>
      <a href="{{ page.url }}" target="_blank">Read More</a>
  </div>
</div>
