<div class="jumbotron">
  <div class="input-group">
    <textarea class="form-control custom-control" rows="5" style="resize:none" ng-model="input.text"></textarea>
    	<span class="input-group-addon btn btn-primary" ng-click="postData(input.text)">Tag It!</span>
  </div>
</div>

<div ng-show="showResult" id="tag-wrapper">
  <ul>
    <li ng-repeat="page in pages">      
      <div class="jumbotron">
        <h2><bold>{{page.heading}}</bold></h2>
          <p>
            {{ page.summary }}...<a href="{{ page.url }}" target="_blank">Read More</a>
          </p>          
      </div>
    </li>
  </ul>


</div>
